<div class="promo__aside">
   <aside>
     <nav class="promo__aside-nav">
       <p class="menu__title">
         Меню
       </p>
       <ul class="menu">
         <li class="menu__item"><a href="/index.html" class="menu__link">Главная</a></li>
         <li class="menu__item"><a href="/news.html" class="menu__link">Новости</a></li>
         <li class="menu__item"><a href="/events.html" class="menu__link">Мероприятия</a></li>
         <li class="menu__item"><a href="/documents.html" class="menu__link">Документы</a></li>
         <li class="menu__item"><a href="/security.html" class="menu__link">Безопасность</a></li>
         <li class="menu__item"><a href="/about.html" class="menu__link">О нас</a></li>
         <li class="menu__item"><a href="/contacts.html" class="menu__link">Контакты</a></li>
         <li class="menu__item"><a href="/psyhology.html" class="menu__link">Служба психолого-педагогического и
             социального сопровождения замещающих семей</a></li>
       </ul>
       <div class="aside__footer">
         КГКУ "Центр содействия семейному устройству детей-сирот и детей, оставшихся без попечения родителей,
         г.Уссурийска", 2020 г.
       </div>
     </nav>
   </aside>
 </div>